<html lang="pt" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="https://heroslender.com/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://heroslender.com/assets/css/main.min.css"/>

    <title>
        PanelMc API
    </title>
</head>
<body>

<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">PanelMc - API</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Inicio</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/heroslender">GitHub</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<main>
    <div class="container">

        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <div class="container">
                    <div class="row">
                        <div class="pl-4">
                            <h1 class="display-4">PanelMc API</h1>
                            <div class="lead">This is the Rest API for the PanelMc daemon.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://heroslender.com/assets/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.0.0/less.min.js"></script>

</body>
</html>